<article class="li {{ .Type }}">
    <header class="post-header">
        <h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        {{ with .Site.Params.showTime }}
            <p class="post-time">{{ .Site.Params.dateFormat }}</time></p>
        {{ end }}
    </header>
    
    <section class="post-excerpt">
        <p>{{ .Summary }}</p>
    </section>

    <footer class="post-footer">
        <span>
            {{ if .Site.Params.disqusShortname }}
            <a href="{{ .Permalink }}#comments"><i class="fa fa-comment"></i> Comments</a>
            {{ end }}
            {{ with.Params.tags }}
            	&nbsp;&nbsp;<i class="fa fa-tag"></i>
            	{{ delimit  . ", " }}
            {{ end }}
        </span>
    </footer>
</article>