<header id="site-header">
    <div class="container">
        <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}"><h1 class="blog-title heading">{{ .Site.Title }}</h1></a>
        <p class="blog-description">{{ .Site.Params.description }}
    </div>
    <div style="width:225px; margin-left:auto; margin-right:auto; text-align:center; padding-bottom:20px";>
        <input type="file" accept="image/*" id="fileinput"/>
        <p style="font-size: 14pt; font-weight: bold;">Interpolation
            <label class="switch">
                <input type="checkbox" id="interpswitch">
                <span class="slider round"></span>
            </label>
        </p>
    </div>

    <canvas id="canvas" width="0" height="0"></canvas>
</header>

<script defer language="javascript" type="text/javascript" src="{{ .Site.BaseURL }}js/foveate.js"></script>